asgiref==3.11.1
Django==5.2.13
gunicorn==25.3.0
html5rdf==1.2.1
importlib_metadata==9.0.0
lxml==6.0.4
owlrl==7.1.4
packaging==26.1
prettytable==3.17.0
pyparsing==3.3.2
pyshacl==0.31.0
python-dotenv==1.2.2
rdflib==7.6.0
saxonche==12.9.0
sqlparse==0.5.5
wcwidth==0.6.0
whitenoise==6.12.0
zipp==3.23.1
